*:focus{
  outline: none;
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #c2b2b4;
  margin: auto;
}

/*header*/
header {
  background-color: #3E2A35;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

.logo-svg {
  height: 35px;
  padding: 3px;
}

h1 {
  display: flex;
  font-size: 35px;
  font-weight: 800;
  margin: 20px;
}

.search-div {
  display: flex;
}

.search-input {
  margin: 20px 0px;
  height: 20px;
  border: 2px solid #c2b2b4;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
}

.search-icon-div {
  height: 44px;
  width: 44px;
  background-color: #c2b2b4;
  border-radius: 0px 5px 5px 0px;
  margin: 20px 20px 20px 0px;
}

.fa-search {
  padding: 15px;
}

.search-icon-div:hover {
    cursor: pointer;
}

/*user inputs*/
input,
textarea {
  height: 20px;
  padding: 10px;
  font-size: 16px;
  color: #3E2A35;
}

article {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 352px;
  border: 2px solid #938284;
  margin: auto;
}

h2 {
  height: 20px;
  width: 180px;
  text-overflow: ellipsis;
}

p {
  height: 80px;
  overflow: scroll;
  word-break: break-word;
}

h2,
p {
  color: #3E2A35;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.user-inputs-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 14px;
  margin: auto;
  padding-bottom: 20px;
}

.input-label {
  padding: 15px 0px 5px 0px;
}

.user-inputs {
  background-color: #3E2A35;
  color: #c2b2b4;
}

#foto-upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#foto-upload-label {
  height: 20px;
  padding: 10px;
  text-align: center;
}

.add-filter-btns,
#foto-upload-label {
  background-color: #5B4447;
  border: 0;
  margin: 30px 0px 0px 0px;
  color: #FFF;
  font-size: 15px;
}

.add-filter-btns-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-filter-btns {
  height: 35px;
  width: 45%;
}

/*card section*/
.foto-card {
    margin-top: 20px;
    min-width: 300px;
}

.foto-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
  justify-content: space-around;
  padding: 15px;
  max-width: 100%;
}

.foto {
  height: 140px;
  object-fit: cover;
}

.footer {
  align-items: center;
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0px;
  background-color: #5B4447;
}

.delete-btn {
  background-image: url(Images/delete.svg);
}

.favorite-btn {
  background-image: url(Images/favorite.svg);
}

.favorite {
  background-image: url(Images/favorite-active.svg);
}

.delete-btn,
.favorite-btn{
  background-repeat: no-repeat;
  height: 30px;
  width: 35px;
  background-size: 30px;
  border: 0;
  background-color: #5B4447;
  margin: 10px 5px;
}

.delete-btn, 
.favorite-btn:hover {
  cursor: pointer;
}


h2:focus {
  height: 38px;
}

h2:focus,
p:focus {
  border: 2px solid #938284;
}

h2,
p {
  overflow: scroll;
}


.add-btn:disabled {
  background-color: #c2b2b4;
}

.show-more-btn:disabled {
  background-color: #5B4447;
  border: 2px solid #938284;
}

/* show more maybe*/
.show-more-section {
  display: flex;
  justify-content: center;
  background-color: #c2b2b4;
}

.show-more-btn {
  margin: 30px 0px;
  height: 45px;
  width: 500px;
  border: 2px solid #c2b2b4;
  color: #FFFFFF;
  font-size: 15px;
}

.show-more-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  header {
    flex-direction: column;
  }

  h1 {
    font-size: 35px;
    display: flex;
    justify-content: center;
  }

  .logo-div {
    width: 65%;
    margin: auto;
  }

  .logo-svg {
    height: 33px;
    padding-top: 5px;
  }

  .search-div {
    margin: auto;
  }

  .search-input {
    width: 433px;
  }

  .search-icon-div {
    margin-right: 0px;
  }

  .search-div,
  .user-inputs-form,
  .show-more-btn {
    width: 87%;
  }

}
